@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  line-height: 1.85;
}

p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.414rem 0 .5rem;
  font-weight: 600;
  line-height: 1.42;
  color: #24292e;
}
h1,
h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}


h1 {
  margin-top: 0;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size:.875em;
}

h6 {
  font-size: .85em;
}

small {
  font-size: .707em;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #aaa;
  margin: 1em 0;
  padding: 0;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

html {
  font-size: 17.5px;
  max-width: 100%;
}

body {
  color: #464646;
  font-family: Baskerville;
  max-width: 100%;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
  font-style: italic;
}

ul,
ol {
  padding: 0;
}

li {
  margin-left: 2rem;
}

p {
  height: auto;
  line-height: 1.45;
}

pre,
code {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

pre {
  background-color: rgba(27,31,35,.05);
  font-size: .8rem;
  overflow-x: scroll;
  padding: 1.125em;
}

a,
a:visited {
  color: #3498db;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
  text-decoration: underline;
}

table {
  margin-top: 0;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  font-weight: 600;
  background-color: #f6f8fa;
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

td,
th {
  padding: 0;
}
