@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
  line-height: 1.85;
}

p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.414rem 0 .5rem;
  font-weight: 600;
  line-height: 1.42;
  color: #0c2b44;
}

h1,
h2,
h3 {
  padding-bottom: .3em;
  border-bottom: 1.5px solid #abc1d5;
}


h1 {
  margin-top: 0;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
  margin-left: 1em;
  border-width: 1px;
}

h4 {
  font-size: 1em;
  margin-left: 2em;
}

h5 {
  font-size:.875em;
  margin-left: 3em;
}

h6 {
  font-size: .85em;
  margin-left: 4em;
}

small {
  font-size: .707em;
}

hr {
  display: block;
  border: 0;
  border-top: 1px solid #aaa;
  margin: 1em 0;
  padding: 0;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

html {
  font-size: 17.5px;
  max-width: 100%;
}

body {
  color: #325571;
  font-family: 'Crimson Text', Arial;
  max-width: 100%;
}

blockquote {
  background: #f6f8fa;
  border-left: 10px solid #a4d0e7;
  border-radius: 5px;
  margin: 0;
  padding: 0.5em 10px;
  color: #464646;
  font-style: italic;
}
blockquote:before {
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

ul,
ol {
  padding: 0;
}

ul {
  color: #26445b;
}


li {
  margin-left: 2rem;
}

p {
  height: auto;
  line-height: 1.45;
}

pre,
code {
  color: #cedde5;
  font-family: 'Ubuntu Mono', monospace;
}

pre {
  border-radius: 5px;
  background-color: #143140;
  font-size: .7rem;
  overflow-x: scroll;
  padding: 1.125em;
}

a,
a:visited {
  color: #1193fa;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
  text-decoration: underline;
}

table {
  margin-top: 0;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  font-weight: 600;
  background-color: #f6f8fa;
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

td,
th {
  padding: 0;
}
