@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  line-height: 1.85;
}

p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5rem 0 .5rem;
  font-weight: 600;
  line-height: 1.42;
  color: #2f1230;
}

h1,
h2 {
  padding-bottom: .3em;
}


h1 {
  margin-top: 0;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
  margin-left: 1em;
}

h4 {
  font-size: 1em;
  margin-left: 2em;
}

h5 {
  font-size:.875em;
  margin-left: 3em;
}

h6 {
  font-size: .85em;
  margin-left: 4em;
}

small {
  font-size: .707em;
}

hr {
  display: block;
  border: 0;
  border-top: 1px dashed #aaa;
  margin: 1em 0;
  padding: 0;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}

html {
  font-size: 17px;
  max-width: 100%;
}

body {
  /*color: #36696e;*/
  color: #562c58;
  font-family: Georgia, Palatino;
  max-width: 100%;
}

  blockquote {
  background: #f6f8fa;
  border-left: 10px solid #7a7a7a;
  border-radius: 5px;
  margin: 0;
  padding: 0.5em 10px;
  color: #464646;
  font-style: italic;
}
blockquote:before {
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

ul,
ol {
  padding: 0;
}


ol {
  list-style-type: lower-roman;
}

ul {
  list-style-type: none;
  color: #2f1230;
}

ul li::before {
  content: "▶";
  font-size:  0.6em;
  padding-right:7px
}

li {
  margin-left: 2rem;
}

p {
  height: auto;
  line-height: 1.45;
}

pre,
code {
  color: #abb2bf;
  font-family: 'Ubuntu Mono', monospace;
}

pre {
  border-radius: 5px;
  background-color: #282c34;
  font-size: .9rem;
  overflow-x: scroll;
  padding: 1.125em;
}

a,
a:visited {
  color: #3498db;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
}

table {
  margin-top: 0;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  font-weight: 600;
  background-color: #f6f8fa;
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid #61656c;
}

table tr {
  border-top: 1px solid #61656c;
}

td,
th {
  padding: 0;
}
