<head>
   <script src="https://unpkg.com/vue@next" defer></script>
   <script src="app.js" defer></script>
   <script language="javascript" type="text/javascript" src="style_header.txt"></script>
</head>

<body class="markdown-body">
<div>

<h2 id="1--audio-setup">1. Audio setup</h2>
<h3 id="11-diagram">1.1 Diagram</h3>
<p><img alt="" src="https://brahms.ircam.fr/media/editor/AudioSetup_20210406165001677470.jpg"></p>
<h3 id="12-mixing-desk-patch">1.2 Mixing desk patch</h3>
<p><img alt="" src="https://brahms.ircam.fr/mediaeditor/Input-routing_20210407115853758868.png"></p>
<p><img alt="" src="https://brahms.ircam.fr/media/editor/output-routing_20210407115907835028.png"></p>
<h2 id="2--loudspeaker-setup">2.  Loudspeaker setup</h2>
<p><img alt="" src="https://brahms.ircam.fr/media/editor/Scene_20210407113516137361.jpg"></p>
<h2 id="3--controller-setup">3.  Controller setup</h2>
<p>The electronic performer uses a Lemur OSC controller to alter the audio treatment (Patch Max). The lemur and the laptop need to be connected to the same local network using an RJ45 Hub. In order to work the Lemur Patch (file <a href="https://brahms.ircam.fr/media/files/2021/03/31/Interfaces.dmg">lemur-interface.jzml</a> in Interfaces from this documentation) needs to be uploaded to the Lemur using <a href="https://liine.net/en/downloads/lemur">the Lemur Editor Software</a>. Informations on how the electronic performer shall interact with the cellist can be found in the <a href="https://brahms.ircam.fr/media/files/2021/03/31/AnimaConducteur.pdf">conductor</a>.</p>
<h2 id="4--software-installation">4.  Software installation</h2>
<ol>
<li>Download the <a href="https://brahms.ircam.fr/media/files/2021/04/07/PatchMax.dmg">patch folder</a> from this documentation.</li>
<li>Install the <a href="https://brahms.ircam.fr/media/files/2021/04/20/HoaLibrary-Mac-v2.2.dmg">HO Library</a> for Max into your Packages folder.</li>
<li>Open the main patch called anima.maxpat.</li>
</ol>
<h2 id="5--patch-presentation">5.  Patch presentation</h2>
<h3 id="51-main-patch">5.1 Main patch</h3>
<p><img alt="" src="https://brahms.ircam.fr//media/editor/MainPatch_20210407162504999088.jpg"></p>
<p>The main patch contains four sections.</p>
<ul>
<li><strong>Input</strong></li>
</ul>
<p>This section enables you to select wich audio input will be used. Input "adc" is the Max audio input and shall be used while performing. The noise input can be used to test the loudspeaker setup. The player input can be used to play samples and to test the mix. The player will load all files contained in the Samples directory at startup. Alternatively the "Load Folder" button can be used to load samples in another directory.</p>
<ul>
<li><strong>Control</strong></li>
</ul>
<p>The control pannel gathers all the controls needed by the electronic performer to interact with the patch. All the information needed by the performer can be found in the <a href="https://brahms.ircam.fr/media/files/2021/03/31/AnimaConducteur.pdf">conductor</a>.</p>
<ul>
<li><strong>Mix</strong></li>
</ul>
<p>The mix region gather information that need to be adapted for each performance. It contains a reverberation and the speaker dispositions can be adapted as well as the mix between cello and the electronic sounds.
<br></p>
<ul>
<li><strong>Processing</strong></li>
</ul>
<p>The record button will record the haromnics of the ambisonic spatialization and the dry signal comming directly from the cello microphone. The folder /Records will automatically be populated once the recording is stopped. The signal processing sub region can be used to open the signal processing subpatches and are mainly reserved for the composer.</p>
<h2 id="6--system-calibration-and-tests">6.  System calibration and tests</h2>
<p>Before begining to play the Mix region must be adjusted acording to the location of the performance or recording. There are two ouputs the master output correspond to the saptialized output sent to the four quadriphonic speakers. The bus output is used for the monitor speakers or headphones when recording.</p>
<ul>
<li><strong>Speaker disposition</strong></li>
</ul>
<p>The loudspeaker must ideally be equally spaced around the audience however in case it cannot be done the loudspeaker angles can be adjusted. In order to adjust the speakers disposition you can edit the ambisonic settings in the corresponding text zone. For instance the default setting "45 -45 -135 135" "4" "irregular" corresponds to a quadriphonic disposition as in the scene plan. You can then test the disposition using the following steps.</p>
<ol>
<li>Select input noise.</li>
<li>Start dsp and increase input volume and master output volume.</li>
<li>Move source 1 in the "Input Position" section.</li>
</ol>
<ul>
<li><strong>Test OSC configuration</strong></li>
</ul>
<p>Test the osc configuration by moving the lemur controls. The Control pannel shall move acordingly as described in the <a href="https://brahms.ircam.fr/media/files/2021/03/31/Interfaces.dmg">conductor</a>.</p>
<ul>
<li><strong>Electronic and Cello Mix</strong></li>
</ul>
<p>A pre-mix of the cello and the electronic can be done without the presence of the cellist using the player.</p>
<ol>
<li>Trigger cue number 2 (beggining of piece).</li>
<li>Load file "Studio-07-01-2021-edited.wav" in the player and select the player input.</li>
<li>Play the begining of the piece and adjust levels.</li>
</ol>
<p>You can refer to the <a href="https://brahms.ircam.fr/media/files/2021/04/07/AnimaVidMast.m4v">premiere video</a> to find a reference.</p>
<ul>
<li><strong>Reverberation</strong></li>
</ul>
<p>The reverberation can also be adjusted. Keep in mind that the reverberation is only used to compensate dryness in certain concert hall or room. Its presence shall not be exagerated. You can refer to the <a href="https://brahms.ircam.fr/media/files/2021/04/07/AnimaVidMast.m4v">premiere video</a> in order to ajust the reverberation level.</p>
<ul>
<li><strong>Save mix preset</strong></li>
</ul>
<p>Once the mix and reverberation have been adjusted you can save the preset. Use the Mix Presets control to store the setup into the first slot using the insert 1 action (slot 1 will be automatically loaded when opening the patch) then replace preset file on the disk under /Presets using the write action.</p>
<h2 id="7--initialization-routine">7.  Initialization routine</h2>
<p>Steps to perform before playing the piece.</p>
<ol>
<li>Make sure the right mix preset is loaded.</li>
<li>Make sure osc controls works fine.</li>
<li>Trigger cue number 2 (begining of the piece).</li>
</ol>

</section>

</div>
</body>
