<head>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    <script language="javascript" type="text/javascript" src="style_header.txt"></script>
</head>

<body class="markdown-body">

<div id="instructions" class="alert alert-info no-bg">
    <h2 id="instruction">Instructions</h2>
    <div id="instruction-ctn">


            <p>The synthesis engine is supercollider</p>
<p>Spatialisation is done with panoramix in Max MSP</p>
<h1 id="audio-setup">Audio setup</h1>
<p>The quartet should be amplified in order to have a good balance with the electroacoustic part.<br>No live sound transformation.<br>Sampling Rate = 48 kHz</p>
<h1 id="loudspeaker-setup">Loudspeaker setup</h1>
<p><img src="https://brahms.ircam.fr/media/editor/Concert_Blondeau_Lanza_Steiner_20210421114939995291.png" alt=""></p>
<h1 id="software-setup">Software setup</h1>
<h2 id="audioloopback">audioloopback</h2>
<p>In TotalMix </p>
<ul>
<li>set the RME audioboard channels 1 to 26 to loopback mode</li>
<li>route the ouput channels 27/32 to the 6 surround speakers</li>
</ul>
<h2 id="supercollider">supercollider</h2>
<ul>
<li>start Supercollider</li>
<li>open DesMondes_SC_synthes01.2.scd</li>
<li>change the path</li>
<li>adjust the audio output device</li>
<li>evaluate succesively <ul>
<li>the first part (between “()”)</li>
<li>the second part (to load the buffers)</li>
<li>the rest of the supercollider code (the Synth definitions)</li>
</ul>
</li>
</ul>
<h2 id="max">max</h2>
<ul>
<li>start max</li>
<li>audio status</li>
<li>open SJB_DesMondes01.maxpat</li>
<li>set max audiostatus</li>
<li>DSP Status Options (Fs, IO vs, S vs, Overdrive, Audio Interrupt, Vector Optimization)</li>
<li>keyboard shortcuts<ul>
<li>a : start antescofo</li>
<li>space bar : trigger nextcue</li>
</ul>
</li>
</ul>
<h1 id="patch-presentation">Patch presentation</h1>
<h1 id="initialization-routine">Initialization routine</h1>
<h1 id="system-calibration-and-tests">System calibration and tests</h1>
<h1 id="performance-notes">Performance notes</h1>



    </div>

</div>

</body>
