<head>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    <script language="javascript" type="text/javascript" src="style_header.txt"></script>
</head>

<body class="markdown-body">

<div id="instructions" class="alert alert-info no-bg">
    <h2 id="instruction">Instructions</h2>
    <div id="instruction-ctn">


            <h1 id="-strong-machinations-strong-2000-"><strong>Machinations</strong> (2000)</h1>
<p>Work produced at Ircam. Commissioned by Ircam and the WDR.</p>
<p>Duration 55 min<br>First performance : 6 May 2000, Witten (Germany).<br>Actors : Donatienne MICHEL-DANSAC, Sylvie SAGOON, Sylvie LEVESQUE, Geneviève STROSSER, Olivier PASQUET. Computer Music Designer (Olivier PASQUET). Musical Assistants : Olivier PASQUET, Tom MAYS<br>Editor : Editions Durand, Paris</p>
<h3 id="instrumentation-and-performers">Instrumentation and performers</h3>
<p>• 4 female actresses<br>• 1 male actor<br>• 1 lighting director on stage behind the actor.</p>
<h3 id="stage-equipment">Stage equipment</h3>
<p>• Set (4 tables with lights and cameras + screens behind the tables + 1 table for computer)<br>Two different versions were presented. The first one is the one from the premiere in Witten, Germany, on May 6, 2000. The second one is considered as the final version. It was first performed in June 2000 at Ircam. The following documentation corresponds to the final version. (Many different versions have been performed during the years since the creation of the piece, some of them using up to 8 actors (Switzerland, 2019)!)</p>
<h3 id="score">Score</h3>
<p>You will find the score with the cues and annotations at Machinations_DOC/SCORES &amp; INFOS/Machinations - SCORE.pdf. Be sure that you all have the same version, the version provided is the first version of the score ! Please print the score as you will have to consult it during the performance.<br>You will have to provide the sound engineer his technical rider Machinations_DOC /SCORES &amp; INFOS/Machinations - Technical Rider.pdf. In this technical rider you will find all the cues concerning gain adjustments of the microphones on stage and instructions concerning reverberation and gating.</p>
<h3 id="list-of-electroacoustic-and-video-equipment">List of electroacoustic and video equipment</h3>
<p>• 2 Macintosh (one of which can be used with an 8channel audio card).<br>Minimum recommended computers: MacBook Pro 2,6 GHz Intel Core i7, 16 GB 2133 MHz LPDDR3 with Max/MSP 8 (Cycling’74).<br>• 1 x 8 * 8 video matrix controllable through a serial RS232 port.<br>• 1 RS232/RS422 converter to make the link between the video mac and the matrix.<br>• 1 reverb 2 channels controllable via MIDI.<br>• 1 gate 2 channels controllable via MIDI.<br>• 1 delay 2 channels.<br>• 1 O2R console allowing a MIDI control of the reverb and the gate<br>• 4 cluster speakers on the sides of the stage and on the sides of the room.<br>• 2 smaller speakers on the sides at the back of the room.<br>• 4 speakers “above” the actresses’ tables.<br>• 5 microphones for the actors (4 actresses + 1 actor).<br>• 1 setup for the lights (onstage, MIDI) and the video iris controlled via MIDI.</p>
<h3 id="settings-and-video-patch">Settings and video patch</h3>
<p>The four video screens behind the actresses are projecting their lit tables. Sometimes in the piece, the screens do not match the actual tables but are more of a blending. In addition, the actresses are equipped with small LCD monitors that allow them to visualize their individual projections. To this end, a video matrix (Kramer) is employed so that the cameras are routed to the desired screens.<br>It is also possible to use irises controllable via MIDI. It is important to know that the irises can be handled by the lightsman’s control set on the stage. During the performances, it seemed preferable to do the control this way to avoid any technical problem due to the slowness of the MIDI ports of the Mac. That’s why the current patch does not include the iris control anymore.</p>
<p><em>The video matrix and the irises are controlled with the patch shown below:</em></p>
<p><img src="/media/editor/Screenshot%202021-04-21%20at%2020.23.49_20210421220822187578.png%20%22Video%22" alt="Video"></p>
<h4 id="video-matrix-patch">Video matrix patch</h4>
<p>The components of the matrix correspond to the cameras on the x-axis and the monitors on the y-axis. The right part is the matrix for LCD monitors.<br>The red LEDs represent the states requested by the patch and the green LEDs represent the actual states of the matrix. This system allows to check precisely what is happening between the mac and the matrix due to the slow and insecure transmission. It is possible to compare the desired state with the actual state and make an automatic correction by selecting the switch above the autocorrect patch. IT IS VERY ADVISABLE TO DO THE CONCERT WITH THE CORRECTION ACTIVE.<br>A part of the patch is visible at the bottom left. It allows you to adjust the transmission speed according to the speed of the matrix. The Kramer matrix has a speed of 9600 bauds. The two numerical boxes above ‘p temporiser’ allow to optimize empirically the data transmission between the mac and the matrix. Indeed, the matrix used requires a short delay between the data flows.<br>The box ‘coll MEMORY’ contains a matrix in text form. It represents the sequence of memories to be passed during the part. It is possible to quickly and easily change or add a step in this memory without having to change the rest by double clicking on the box and working in text mode. It is also possible to read a memory, save it or delete it using read, write, clear.<br>Above the ‘coll MEMORY’ box, a numbered box allows you to quickly go to a memory step, a CUE.<br>The CUE is displayed at the bottom of the screen.<br>Cues are advanced using the UP and DOWN keys on the keyboard, to the left of the numeric keypad.</p>
<h3 id="hp-position">HP position</h3>
<p>The sound engineer is located closest to the center of the room. He can however be placed at the back as shown in the diagram above.<br>The 4 speakers of the 4 actresses must be in an optimized axis so that the audience has the impression to hear the sound source of the tables.<br><img src="/media/editor/Screenshot%202021-04-21%20at%2021.48.28_20210421214921514545.png%20%22Speakers%22" alt="Speakers"><br><img src="/media/editor/Speakers-1_20210421215124300710.png%20%22Speakers-1%22" alt="Speakers-1"></p>
<p>The speakers “L”, “R”, 5 and 6 are direct outputs from the computer dac~.<br>The speakers at the back are auxiliary speakers to avoid a “wall of sound” effect for the people at the back. They are also useful to enlarge the room, to insure an atmosphere. For this purpose, they must be virtually moved back. The delay and the reverb are intended for this purpose.<br>The system resembles a cinema ambience system. When the “L”, “R”, 5 and 6 speakers exceed a certain level threshold, the noise gate opens and sends the signal that has exceeded the threshold into a reverb before being diffused on the speakers located at the back.<br>You must be careful not to abuse this effect. Recorded cues in the console allow you to control the noise gate threshold and the duration of the reverb via MIDI. This effect does not work on all sounds; it is important to choose the sounds according to the room and the aesthetic choice during the rehearsals. Only sounds with strong attacks (sounds with short interruptions…) benefit from this effect. Quadraphonic sounds can also benefit from a small reinforcement of the rear channels with this effect. This is the case for example with the last sound on which the reverb level has to be raised very high at the moment of the last big low sound. The sound engineer has a tendency to turn up the reverb level on some sounds.</p>
<h3 id="audio-patch">Audio patch</h3>
<p>The audio patch is to be installed on the fastest Macintosh with a minimum of an 8 input/output audio card.</p>
<p>It is composed of two patches. A main patch ‘ Core’ and a control patch (Machinations_Interface) with an interactive matrix. The control patch opens automatically with DSP patch.<br>It has four monophonic sound file players, one quadraphonic sound player, a ‘scalp’, a ‘ghost blast’, a ‘scrap’, and a ‘fof’.<br>Here is a brief explanation of the transformations used on the four voices:</p>
<h4 id="scalp">Scalp</h4>
<p><img src="/media/editor/Screenshot%202021-04-21%20at%2022.10.11_20210421221047186220.png%20%22scalp%22" alt="scalp"><br>The scalp is an effect that transforms the actresses’ voices into percussive sounds. The envelope of the four voices of the actresses is extracted and pitchshifted in order to create four different timbres. To these timbres, we allocate an envelope that is triggered according to a threshold of each voice. It is possible to switch from the normal voice to the transformed voice.<br>It is therefore very important that the actresses always have the same dynamics. Voices with prominent transients or explosive phonemes give interesting results.</p>
<h4 id="the-scrap">The scrap</h4>
<p><img src="/media/editor/Screenshot%202021-04-21%20at%2022.10.26_20210421221111738791.png%20%22scrap%22" alt="scrap"><br>Scrap is an effect using non-linear distortion with transfer functions described by Chebycheff polynomials. This distortion keeps the harmonic components of harmonic sounds. By sending a sine of 100 Hz, a polynomial of order 5 would output a sine of 500 Hz.<br>Starting from the source, the program tries to follow a formant and isolates it from the rest using a bank of resonant filters. The attacks are accentuated with an expander and distortion is applied to it later.</p>
<p><strong>It is therefore very important that the actresses always have the same dynamics</strong>.</p>
<h4 id="the-fof">The fof</h4>
<p>A resynthesis of the voice is made with the help of a formant analysis. Only a few parameters of the analysis are taken into account. Others are replaced by the uncertainties of the analysis, by blockages in the data flow or unusual transpositions. It is possible to interpolate the calculations to give a certain inertia and interesting sound effects.</p>
<p><strong>A raucous voice (with a low fundamental frequency in the resynthesis), whistled and noisy, or a large pitch transient result in interesting effects</strong>.</p>
<h4 id="phantom-blast">Phantom blast</h4>
<p>Phantom breath is a simple resynthesis of the voice using bandpass filters from a spectral analysis. The filtered sound is white noise. The spectrum is then considered as a simple data bank. Once again, some parameters of the analysis/resynthesis are replaced by the hazards of the analysis, by blockages in the data stream, unusual transpositions or a change in the bandwidth. <strong>It is possible to vary the analysis step in time and to interpolate the calculation steps</strong>.</p>
<p>**A whistled, noisy, breathed voice as well as transposing the resynthesis result in interesting effects.</p>
<p>This effect has a specific spatialization**.</p>
<h4 id="loopers">Loopers</h4>
<p>Loopers are two buffers that are read at different speeds in both directions. The playback length must vary during the piece.<br>Screenshots of the main, ENGINE and drag&amp;drop_sounds patches :</p>
<p><img src="/media/editor/Screenshot%202021-04-21%20at%2020.20.57_20210421221243949324.png%20%22Main%22" alt="Main"><br><img src="/media/editor/Screenshot%202021-04-21%20at%2020.21.34_20210421221353733811.png%20%22engine%22" alt="engine"><br><img src="/media/editor/Screenshot%202021-04-21%20at%2020.21.52_20210421221541839322.png%20%22dsp%22" alt="dsp"><br><img src="/media/editor/Screenshot%202021-04-21%20at%2020.22.08_20210421221653988529.png%20%22drag&amp;drop_sounds%22" alt="drag&amp;drop_sounds"></p>
<h4 id="patch-architecture">Patch architecture</h4>
<p>The main architecture of the patch is structured in 3 distinct parts.</p>
<p>• The “Machinations_interface” part which allows you to control, interact and survey all the events during the performance or the rehearsals.<br>• The “ENGINE” part, that contains all the sound processing (adc<del>, dsp, dac</del>, pic 2). Inside dsp are built all the audio devices of the patch (pic 3).<br>• In the current version antescofo~ replaced the qlist event saving system. “p antescofo” contains the memories with its parts that are advanced during the concert from the interface. They can be edited by double clicking on “ antescofo~” or by editing the text directly in a text editor. You can load a new score by clicking at “score” middle-up-right the interface.<br>• “p Drag&amp;Drop_sounds” (pic 4) is the pathfinder device, which allows you to directly drug &amp; drop the “media” file containing all the sounds of the patch, in case this file is not in the right place (check Max Console).</p>
<h4 id="muting">Muting</h4>
<p>It is important to know that the calculations of each DSP can be turned on or off depending on the CPU power usage to increase the patch capabilities with the same machine power.<br>For this purpose, the calculations of a transformation are turned on as soon as the output level of this transformation is different from zero. Therefore, <strong>you have to be careful not to forget to set the level to zero when the calculation is no longer used</strong>. After the 2021 version muting takes place inside poly~ objects.</p>
<h4 id="antescofo-score-syntax">Antescofo score syntax</h4>
<p>EVENT 1 looper_on;<br>2; This is the cue 1 labeled looper_on. You can forward cues with “nextlabel” (interface) or by choosing a new label from the interface up-middle-left.<br>Anything that starts with cow sends a parameter to a processing.<br>oXY opens or closes the switch at XY coordinates from the 1st switch on the top left of the matrix. roXY corresponds to the same thing but for dac 7 and 8 from the 1st dac 7 on the left of the matrix. Some inputs have a specific syntax. It is explained below in the description of the syntax of the qlists.</p>
<h6 id="loopers">Loopers</h6>
<p>cowloopX is the output level of the loop nb X effect<br>loloX is the input switch for mic X.<br>cowllengthX is the recording and playback duration of loop nb X.</p>
<h6 id="players">Players</h6>
<p>The players have two output levels allowing you to set a level according to the room while keeping the relationship between the sounds themselves.<br>cowlvX is the ratio level of the sound file player n° X.<br>cowlvplX is the general level of sound file player X.<br>cowX is the cue of sound file player X. It is launched when cowX is received.<br>4X is the quad sound file player.</p>
<h6 id="scrap">Scrap</h6>
<p>cowlvscr is the scrap output level.<br>cowscr is the type of scrap; i.e. the cue of the scrap.<br>csriX indicates that adc #X enters the scrap.</p>
<h6 id="ghost-blast">Ghost Blast</h6>
<p>sfX indicates that dac #X enters the ghost breath.<br>cowlvsou is the output level of the blast.<br>cowbw/2 sets the double bandwidth of the bandpass filters.<br>cowtrans sets the transposition<br>cowinter sets the interpolation. This is the maximum time between two analysis points.<br>cowcl clears the filters buffer to avoid any unwanted resonance when starting the calculation. </p>
<h6 id="scalp">Scalp</h6>
<p>sci sets the input level of the adc. It is not needed in the last versions of qlist.<br>cowlvsc is the output level.<br>The density and the fshifting are not set from the qlist. However, it can be done using dscX for density and sscX for shifting, where X is the adc number.</p>
<h6 id="fof">FOF</h6>
<p>fofoX indicates that the adc # X enters the fof.<br>cowfrfof is the resynthesis transposition factor.<br>cowinfof is the interpolation time between two resynthesis points. cowlvfof is the output level of the fof.</p>
<h4 id="interface">Interface</h4>
<p>The control patch is composed of a routing matrix on the left, transformation parameters controls on the right, VU meters and reset on the bottom left.</p>
<p><img src="/media/editor/Screenshot%202021-04-21%20at%2020.20.37_20210421222606928691.png%20%22interface%22" alt="interface"><br>• The matrix allows to make quick changes during the rehearsals. It is divided in two parts : the black panel part with mappings from physical and tape inlets to the dsp, and the red one from the dsp to the physical outlets.<br>• Reset buttons for general or local resets are placed at the upper middle right.<br>• You can access directly all devices by clicking on their names.<br>• “Audio Status” and “I/O Mappings” for checking Sampling Rate (48000), I/O Vector Size (512), Signal Vector Size (64), Scheduler in Overdrive (1), Audio Interrupt off (0) and Input/Output mapping of your sound interface.<br>• “nextlabel” advances to the next cue.<br>• “rewind” resets the patch to the beginning of the piece. You should know that there are two zeros in the cues. The first appears when the patch is launched or when there has been a rewind. You must therefore click once on “next” to be at the zero cues before cue 1.<br>• You will find hints for the most important parameters of the interface. </p>
<ul>
<li>During rehearsals, you can directly choose and go to a label from the menu up middle left. Before restarting the piece from cue 1, you are advised to “reset all”.</li>
<li>The “rehearse mode” activates a safety device that avoids involuntarily double clicking on NEXT during the concert (400ms). In rehearsal, it is possible to override this security to advance the cues quickly.</li>
</ul>
<h4 id="resets">Resets</h4>
<p>Reset buttons for general or local resets are placed at the upper middle right. This allows you to reset only one device while letting the others continue. The resets set the transformation parameters to their default values. It is therefore necessary to remember the parameters of the calculation before resetting it.</p>
<h3 id="installation-and-preparation-of-the-patch">Installation and preparation of the patch</h3>
<p>Copy Machinations_2021 on your desktop. Double click on the patch Machinations_2021.maxproj. In the actual version all five audio inputs are filtered around voice’s spectral range and can be compressed with spat.compressor<del>. Initially, compressors are bypassed. Find all the documentation in Machinations_2021/other/doc.<br>IMPORTANT ! The Computer Music designer should take some time with the singers for testing the fofs. It is very possible that some adjustments may need to apply in the antescofo</del> score. In this case the easiest way to charge the score is to rename the old score (ex. with .old extension) and keep Machinations-ascf-score.txt for the new one.</p>
<h4 id="initialization-routine">Initialization Routine</h4>
<p>• Check sound engineer. He must have the technical rider Machinations_DOC/SCORES &amp; INFOS/Machinations - Technical Rider.pdf.<br>• Check the Max console if all the sounds are found, if score is loaded and if you don’have error messages for missing objects.<br>• Check your scores (Machinations-ascf-score.txt) and Labels inside “Machinations_Interface”. Place the music score (Machinations_DOC/SCORES &amp; INFOS/Machinations - SCORE.pdf) at a place that you can turn pages without the slightest problem.<br>• Open Audio Status and set Sampling Rate (48000), I/O Vector Size (512), Signal Vector Size (64), Scheduler in Overdrive (1), Audio Interrupt off (0).<br>• Open I/O Mapping to set the Input and Output mapping of your sound interface<br>• Set DSP on<br>• Click once on “nextlabel” to initialize the score (label loop1)<br>• (Cut sound immediately with “Reset All”)</p>
<h3 id="performance-notes">Performance notes</h3>
<p>A great deal of interpretation is left to the musical assistant and performer on stage. He is forced to follow his score, but as it is not a purely written music, one has to be careful with some points of freedom. The relationship between the actresses and the electronics is variable. It is necessary that the two are distinct and understandable but it happens sometimes at certain tense moments that it is necessary to emphasize the electronic part. The musical assistant not being in the middle of the room, must consult with the sound engineer concerning this appreciation. This work is varying according to the qualities of the room.<br>As for the output levels, one must be very careful with the input levels. Indeed, certain transformations are a function of the accentuations, the dynamics, the blowing phonemes of the actresses and their tempo. It is therefore necessary to make sure that the effect works in all cases. For example, the density of the scalps should be increased if the actresses do not create enough percussive sounds with their dynamics. The tempo variation involves manually changing the playback size of the loopers to capture the entire phonemes. Etc…<br>Georges Aperghis is in favor of extremely abrupt changes of the parts. This means that it doesn’t matter if some clicks appear when going from one cue to another. Of course, one should not exaggerate. Also, if a sound is not finished, you have to wait for an opportune moment depending on the sound and what is happening on stage to change cues or to stop playing the sound.<br>It may happen that one actress is moving too fast compared to the others. In this case, two cues can be reversed. You have to manage with the help of the indications of the score according to the moment of the piece.</p>



    </div>

    <br>
    <br>
    © IRCAM
    <a class="licence" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="/media/image/creative_commons_logo.png"></a>
    <br>
    <span>This documentation is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.</span>
    <br>
    <br>
    <br>

</div>

</body>
