<head>
     <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    <script language="javascript" type="text/javascript" src="style_header.txt"></script>
</head>

<body class="markdown-body">

<div>
  <h1 id="titre-1">Titre 1</h1>
  <h2 id="titre-2">Titre 2</h2>
  <h3 id="titre-3">Titre 3</h3>
  <h4 id="titre-4">Titre 4</h4>
  <h5 id="titre-5">Titre 5</h5>
  <h6 id="titre-6">Titre 6</h6>
  <h3 id="paragraphe">Paragraphe</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue.<br><br>Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.</p>
  <h3 id="gras">Gras</h3>
  <p><strong>Ceci est du texte en gras</strong></p>
  <h3 id="italique">Italique</h3>
  <p><em>Ceci est du texte en italique</em></p>
  <h3 id="retours-à-la-ligne">Retours à la ligne</h3>
  <br>
  <br>
  Il a deux retours à la lige avant ce paragraphes

  <h3 id="listes-ordonnées">Listes ordonnées</h3>
  <ol>
  <li>élément 1<ul>
  <li>sous-élément</li>
  <li>sous-élément</li>
  </ul>
  </li>
  <li>élément 2</li>
  <li>élément 3</li>
  </ol>
  <h3 id="listes-non-ordonnées">Listes non ordonnées</h3>
  <ul>
  <li>élément 1</li>
  <li>élément 2</li>
  <li>élément 3</li>
  </ul>
  <h3 id="citations">Citations</h3>
  <blockquote>
  <p>Ceci est une citation</p>
  </blockquote>
  <h3 id="lignes-horizontales">Lignes horizontales</h3>
  <hr>
  <h3 id="liens">Liens</h3>
  <p><a href="https://brahms.ircam.fr/">Lien vers brahms</a></p>
  <h3 id="tableau">Tableau</h3>

  <table>
  <thead>
  <tr>
  <th>Syntax</th>
  <th>Description</th>
  </tr>
  </thead>
  <tbody><tr>
  <td>Header</td>
  <td>Title</td>
  </tr>
  <tr>
  <td>Paragraph</td>
  <td>Text</td>
  </tr>
  </tbody></table>

  <h3 id="tableau-alignement">Ligne de code</h3>

  <pre class="highlight"><code>{
  "firstName": "John",
  "lastName": "Smith",
  "age": 25
}
</code></pre>

  <h3>Alignements des chifres</h3>
  <p>1234567890</p>

  <h3>Images</h3>
  <p><img alt="Figure 1: 300x300" src="http:/via.placeholder.com/300x300"></p>
  <p><img alt="Figure 2: 1200x1200" src="http:/via.placeholder.com/1200x1200"></p>
  <p><img alt="Figure 3: 300x1200" src="http:/via.placeholder.com/300x1200"></p>
  <p><img alt="Figure 4: 1200x300" src="http:/via.placeholder.com/1200x300"></p>

</div>

</body>
