	<head>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    <script language="javascript" type="text/javascript" src="style_header.txt"></script>
</head>

<body class="markdown-body">

<div>

<p><img src="https://brahms.ircam.fr/media/uploads/BuenosAires.png" alt="BuenosAires.png" width="533" height="608"></p>

	<p>Fig. 1: Upper view of the hall.</p>

	<h2>Audio routing<br></h2>

	<p>10 signals (adc 1-10) are required from the mixing console, according to the following input patch.&nbsp;</p>

	<p><img style="width: 690.667px; height: 259px; cursor: default;" src="https://brahms.ircam.fr//media/uploads/max-adc2.png" alt=""></p>

	<p>The outputs of MaxMSP are routed to the loudspeakers according to the following output-patch.</p>

	<img style="cursor: default;" src="https://brahms.ircam.fr/media/uploads/francesconi-luca/quartett/2011-05-09/creation/img/max-dac.png" alt="" width="717" height="412">

	<h2>Midi setup</h2>

	<p>Two MIDI keyboards are needed: one is used to drive an AKAI Z8 sampler (KEYBOARD 1, with volume and sustain pedals) and the other is directly linked to the Max/MSP patch to trigger both events and samples (KEYBOARD 2).<br> As for the KEYBOARD 1 the disk-image “quartett-AKAI-Z8.dmg” contains programs and samples to be loaded by the sampler and should be copied to an empty “Autoload” folder of the Z8 (e.g. by means of Ak.Sys software). There are 7 programs (five different timbres, with two different sets for celesta and electric piano to be used&nbsp;<em>ad libitum</em>):</p>

	<ul>
	<li>1.<strong>celeste</strong></li>
	<li> 2.<strong>ensemble-looped</strong></li>
	<li> 3.<strong>harpsichord</strong></li>
	<li> 4.<strong>pfPrep</strong> (prepared piano)&nbsp; <br> </li>
	<li> 6.<strong>Rhodes</strong> (electric piano).</li>
	<li>9.<strong>celesta</strong></li>
	<li> 14.<strong>rds</strong> (Rhodes electric piano. Should not be used for the highest parts as is made-up by just one sample)</li>
	</ul>

	<p><br> These programs should be recalled by program-change messages according to indications given in the score. The outputs of the sampler are routed to a wedge monitor (directly fed by the mixing desk) in the orchestra pit and thus KEYBOARD 1 has a localized sound.<br> The second keyboard is used to trigger events (sound files and real time effects) that are listed in 14 text files in ANTESCOFO language format (see folder “./quartett-msp/lib/anteScores” in quartet-patch.dmg). Each file describes one of the 13 scenes plus the prologue. Each scene is recalled by a corresponding program-change message. In the full score the part of KEYBOARD 2 is incomplete: see the files “Clavier2integral2011.V3.pdf” and “Clavier2integral2011.V3.mid” in “quartet-doc.zip” for the part used at the creation.</p>

	<p>Optionnally you can use the software version of the samplor. see below.</p>

	<p>An external USB MIDI controller (Behringer BCF 2000) is used to control MaxMSP output levels (see chapter 5) and should be directly connected to the computer.</p>

	<h2>Software installation</h2>

	<h3>Sampler patch</h3>

	<p>On the Macintosh laptop<br> 1.&nbsp; &nbsp;copy the disk image called <em>quartett_samplor.dmg</em> on your hard disk drive and mount it;<br> 2.&nbsp; &nbsp;launch Max version 6;<br> 3.&nbsp; &nbsp;in the Max Options menu, click on File Preferences. Then add the folder <em>Quartett-samples/Mono</em><br> 4.&nbsp; &nbsp;browse the disk image to “./quartett_samplor/Quartett” and launch the file called <em>quartett-samplor-mono.v8.maxpat&nbsp;</em><span style="line-height: 1.5em;">or the&nbsp;</span><em style="line-height: 1.5em;">quartett-samplor-mono.v8e.app</em></p>

	<p><img style="cursor: default;" src="https://brahms.ircam.fr/media/uploads/quartett-samplor.png" alt=""></p>

	<p><span style="line-height: 1.5em;">There are 7 programs (five different timbres, with two different sets for celesta and electric piano to be used&nbsp;</span><em style="line-height: 1.5em;">ad libitum</em><span style="line-height: 1.5em;">):</span></p>

	<ul style="line-height: 18px;">
	<li>1.<strong>celeste</strong></li>
	<li>2.<strong>ensemble-looped</strong></li>
	<li>3.<strong>harpsichord</strong></li>
	<li>4.<strong>pfPrep</strong>&nbsp;(prepared piano)&nbsp;&nbsp;<br> </li>
	<li>5.<strong>Rhodes</strong>&nbsp;(electric piano).</li>
	<li>6.<strong>celesta</strong></li>
	<li>7.<strong>rds</strong>&nbsp;(Rhodes electric piano. Should not be used for the highest parts as is made-up by just one sample)</li>
	</ul>

	<h3>Main patch</h3>

	<p>On the Macintosh laptop<br> 1.&nbsp; &nbsp;copy the disk image called “quartett-patch.dmg” on your hard disk drive and mount it;<br> 2.&nbsp; &nbsp;launch Max/MSP;<br> 3.&nbsp; &nbsp;in the Max/MSP Options menu, click on File Preferences. Then add the folder “./concert-patch”;<br> 4.&nbsp; &nbsp;browse the disk image to “./quartett-msp-2013/quartett-msp/” and launch the file called <em>quartett-70-Lille.maxpat</em>.</p>

	<h2>Patch presentation<br></h2>

	<p>The concert patch is composed of:<br> -&nbsp; &nbsp;left-top: main audio sub-patches, with inputs signals from singers (adc 1 and 2), from pre-recorded orchestra sound-files and from sinfonietta (inputs from 5 to 12), sound-files players, transformation modules, spatialization modules and routing matrix;<br> -&nbsp; &nbsp;left-middle: interface for the levels of following signals (also with the external MIDI controller)<br> 1.&nbsp; soprano<br> 2.&nbsp; baritone<br> 3.&nbsp; unused<br> 4.&nbsp; concertino<br> 5.&nbsp; sound-files<br> 6.&nbsp; granmulti<br> -&nbsp; &nbsp;middle-top: score-following sub-patches and controls;<br> -&nbsp; &nbsp;middle-bottom: presets management;<br> -&nbsp; &nbsp;right: sound-files monitoring.</p>

	<p><img style="cursor: default;" src="https://brahms.ircam.fr/media/uploads/francesconi-luca/quartett/2011-05-09/creation/img/quartett-36-premiere.png" alt="" width="719" height="544"></p>

	<h2>Midi mixer</h2>

	<p>During the performance, the mixing of the different sound layers are controlled via a midi mixer.</p>

	<p>The midi mixer faders are assigned as follows :</p>

	<ol>
	<li>MERTEUIL Soprano Voice transformation<br> </li>
	<li>VALMONT Baryton Voice transformation<br> </li>
	<li>OUT Out orchestra level<br> </li>
	<li>IN Sinfonietta transformation and spatialisation<br> </li>
	<li>SF sound-files</li>
	<li>-</li>
	<li>-</li>
	<li>OUT-FIX</li>
	</ol>

	<p>A rotative fader (Controller 10, channel 8) controls the reverbation (room presence) on the prerecorded "Dreams" soundfiles.</p>

	<h2>Initialization routine</h2>

	<p>To initialize the patch:<br> 1. turn audio ON;<br> 2. test that audio and MIDI inputs (Keyboard1, midi pedals, keyboard 2 and BCF) are working;<br> 3. load a scene (by sending the corresponding program-change message or using the menu);<br> 4. trigger events by playing KEYBOARD 1 part or by clicking on “nextlabel”/”previous label” messages (“nextlabel” is triggered also by TAB key).<br> A message box will report the current event.</p>

	<h2>Performance notes</h2>

	<p>At the beginning of the piece (bars 1-26) S1 (backstage orchestra and choir) slowly moves from loudspeakers 9-10 (on stage) to 5b and 6b. The same movement but more rapid is made by the tremolos of backstage orchestra in bars from 1603 to 1695.</p>

	<p>There have been several cuts from the full score:</p>

	<p>from bar 713 to 721;&nbsp;<br> from bar 933 to 1039;<br> from bar 1123 to 1129;<br> from bar 1386 to 1422;<br> from bar 1781 to 1811.</p>

	<p>Merteuil’s Bar 897 is taken out (orchestra plays);<br> Merteuil’s bar 899 only says “The little Volanges”;<br> Merteuil’s part omitted from 926 until 933 (second cut); orchestra plays;<br> at the end of bar 1385 Valmont doesn’t says “this mouth”.</p>

	<p>The 6 sections of the score named "Dreams" have not been sung live by the singer but have been recorded instead and played back over the orchestra. The sections recorded correspond to the following bars:</p>

	<table style="height: 149px;" width="295" border="0">
	<tbody>
	<tr>
	<td>&nbsp;</td>
	<td>FROM BAR N°</td>
	<td>TO BAR N°</td>
	</tr>
	<tr>
	<td>DREAM 1</td>
	<td>250</td>
	<td>270</td>
	</tr>
	<tr>
	<td>DREAM 2</td>
	<td>487</td>
	<td>518</td>
	</tr>
	<tr>
	<td>DREAM 3</td>
	<td>639</td>
	<td>661</td>
	</tr>
	<tr>
	<td>DREAM 4</td>
	<td>903</td>
	<td>925</td>
	</tr>
	<tr>
	<td>DREAM 5</td>
	<td>1175</td>
	<td>1202</td>
	</tr>
	<tr>
	<td>DREAM 6</td>
	<td>1322</td>
	<td>1343</td>
	</tr>
	</tbody>
	</table>

	<p>The Valmont's part for Dream 4 has been completely cut.</p>

	<p>The main treatment consists on spatialisation of samples and of live signals. Other treatments are used on voices: spectral delay (effect "blush", see score) and harmonizers.&nbsp; (effect "sex-swap", see score)</p>

	<h2>"OUT" soundfile list</h2>

	<p><img style="width: 775.597px; height: 548px; cursor: default;" src="https://brahms.ircam.fr/media/uploads/OUT-soundfileList.xlsx.png" alt=""></p>

	<p><img style="width: 726.06px; height: 513px; cursor: default;" src="https://brahms.ircam.fr/media/uploads/OUT-soundfileList2.xlsx.png" alt=""></p>

	<h3>CD for the conductor<br></h3>

	<p>To prepare the rehearsal, there is an Audio CD with all the sequences requiring the click-track :</p>

	<p>1&nbsp; quartett-clic097&nbsp; 03:25<br> 2&nbsp; quartett-clic192&nbsp; 00:30<br> 3&nbsp; quartett-clic240&nbsp; 00:06<br> 4&nbsp; quartett-clic282&nbsp; 00:06<br> 5&nbsp; quartett-clic326&nbsp; 00:26<br> 6&nbsp; quartett-clic344&nbsp; 01:11<br> 7&nbsp; quartett-clic393&nbsp; 01:00<br> 8&nbsp; quartett-clic422&nbsp; 01:37<br> 9&nbsp; quartett-clic471&nbsp; 01:16<br> 10&nbsp; quartett-clic482&nbsp; 02:57<br> 11&nbsp; quartett-clic640&nbsp; 01:30<br> 12&nbsp; quartett-clic667&nbsp; 01:29<br> 13&nbsp; quartett-clic726&nbsp; 00:42<br> 14&nbsp; quartett-clic740&nbsp; 00:35<br> 15&nbsp; quartett-clic803&nbsp; 00:23<br> 16&nbsp; quartett-clic860&nbsp; 01:29<br> 17&nbsp; quartett-clic899&nbsp; 01:41<br> 18&nbsp; quartett-clic1112&nbsp; 00:57<br> 19&nbsp; quartett-clic1174&nbsp; 00:52<br> 20&nbsp; quartett-clic1228&nbsp; 00:50<br> 21&nbsp; quartett-clic1263&nbsp; 00:43<br> 22&nbsp; quartett-clic1305&nbsp; 00:18<br> 23&nbsp; quartett-clic1352&nbsp; 00:35<br> 24&nbsp; quartett-clic1366&nbsp; 02:10<br> 25&nbsp; quartett-clic1461&nbsp; 01:06<br> 26&nbsp; quartett-clic1484&nbsp; 01:46<br> 27&nbsp; quartett-clic1529&nbsp; 01:02<br> 28&nbsp; quartett-clic1558&nbsp; 01:02<br> 29 &nbsp;quartett-clic1584&nbsp; 01:19<br> 30 &nbsp;quartett-clic1614&nbsp; 00:16<br> 31 &nbsp;quartett-clic1621&nbsp; 02:50<br> 32 &nbsp;quartett-clic1687&nbsp; 02:11<br> 33 &nbsp;quartett-clic1750&nbsp; 04:20</p>

	</div>
	</body>
